/Users/sql/GitHub/showDoc2Md/DbFile/showdoc.db.php
/Users/sql/GitHub/showDoc2Md/MdOutFiles/*
/claudeCodeTabState.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
/showDoc2Md.iml
/inspectionProfiles/Project_Default.xml
/misc.xml
/modules.xml
/DbFile/showdoc.db.php
/.idea/showDoc2Md.iml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/claudeCodeTabState.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
